*,
:before,
:after {
    box-sizing: border-box;
}

html,
body {
    background: #000;
    font-family: 'Open Sans', monospace;
    font-size: 17px;
    background-image: url(./images/bg-body.jpg);
}

a {
    text-decoration: none;
}

.machine {
    max-width: 28em;
    margin: auto;
    background-color: #000000;
    background: url(./images/bg-item.jpg);
    background-position: 30% 50%;
    box-shadow: -7px -5px 12px 10px rgba(0, 0, 0, 0.5),
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    border-radius: 5px;
}

@media (min-width: 31.5em) {
    .machine {
        margin-top: 2em;
    }
}

@media (min-width: 77em) {
    .machine {
        position: relative;
        max-width: 56em;
    }

    .machine .section {
        float: left;
        width: 49.75%;
    }

    .machine .section:nth-child(n+2):not(:last-child) {
        float: right;
    }

    .machine .section:last-child {
        float: left;
        clear: left;
    }
}


.buttons-container {
    position: relative;
    margin: auto;
    width: auto;
    height: 100px;
    border-radius: 45px;
    background: #151515;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.buttons-container ul {
    list-style: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.buttons-container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 90px;
    width: 95px;
    background: #202020;
    border-top: 1px solid #353535;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

.buttons-container ul li:nth-of-type(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow: hidden;
}

.buttons-container ul li:last-of-type {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}

.buttons-container ul li:hover {
    cursor: pointer;
}

.buttons-container ul li a {
    display: inline-block;
    color: gray;
    text-decoration: none;
    font-size: 40px;
    transition: all .5s;
}

.buttons-container ul li a,
.active-text {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2;
}


.active {
    background: #151515;
    border-top: none;
    border-bottom: 1px solid #252525;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}


.buttons-container ul li a.active,
.buttons-container ul li.active {
    color: crimson;
}

.section {
    margin-bottom: 0.25em;
    padding: 0.875em;
    overflow: hidden;
}

.section:last-child {
    margin-top: -4px;
    margin-bottom: 0em;
}

.shelves {
    background-color: #000000;
    background: url(./images/grill.png) center;
}

.shelf {
    display: inline-block;
    position: relative;
    width: 33.33333333%;
}

.shelf .detail {
    position: relative;
    height: 1.7em;
    background-image: url(./images/bg-item.jpg);
    border: 0.125em solid #242424;
    border-top: none;
    border-bottom: 4rem;
    color: #242424;
    text-shadow: 0 0 0.125em rgba(8, 10, 10, 0.75);
    padding: 0 0.25em;
    text-transform: uppercase;
}


.shelf h3 {
    visibility: hidden;
    position: absolute;
}

.shelf span {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0 0.25em;
    line-height: 1.5em;
}

.shelf span.code {
    letter-spacing: 0.125em;
}

.shelf span.price {
    position: absolute;
    right: 0;
}

.shelf span.price:before {
    content: '0.';
}

.shelf span.price:after {
    content: '€';
}

.shelf[data-cat="S"]>.detail {
    border-bottom: 3px solid #242424;
}

.shelf:last-child,
.shelf:nth-child(7),
.shelf:nth-child(8) {
    border-bottom: 3px solid #242424;
}

.item {
    width: 100%;
    height: 7em;
    background: center bottom no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 6px solid #242424;
}

.item[data-item="apple"] {
    background-image: url(./images/apples.png);
}

.item[data-item="orange"] {
    background-image: url(./images/oranges.png);
}

.item[data-item="grapes"] {
    background-image: url(./images/grapes.png);
}

.item[data-item="red_salted"] {
    background-image: url(./images/nacho.jpg);
}

.item[data-item="salty_vinegar"] {
    background-image: url(./images/hickpea-chips.png);
}

.item[data-item="cheese_in_onion"] {
    background-image: url(./images/chio.png);
}

.item[data-item="kola"] {
    background-image: url(./images/cola.png);
}

.item[data-item="diet"] {
    background-image: url(./images/pepsi.png);
}

.item[data-item="zero"] {
    background-image: url(./images/red.png);
}

.selection,
.coins {
    display: flex;
    width: 100%;
}

.selection a,
.coins a {
    cursor: pointer;
}

.py-3 {
    padding: 3rem 0;
}

.pt-2 {
    padding-top: 2rem;
}

.selection>a,
.coins>a,
.selection>.coin,
.coins>.coin {
    display: table-cell;
    text-align: center;
    cursor: pointer;
}

.section:nth-child(1) {
    background-color: #000;
    background-image: url(./images/bg-item.jpg);
}

.vending-section>h1 {
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-family: 'Titillium Web';
    text-shadow: 0 0 0.125em rgba(204, 204, 204, 0.75);
    letter-spacing: .17rem;
}


.section:first-child {
    width: 60%;
}

.section:nth-child(2) {
    width: 40%;
}

.section:last-child {
    padding: 1rem 2rem 3rem 2rem;
    background-image: url(./images/bg-item.jpg);
    width: 60%;
}

button[type="submit"] {
    cursor: pointer;
}

.coin {
    width: 33.33333333%;
}

.coin a {
    display: block;
    height: 5em;
    margin: 0 5%;
    position: relative;
    overflow: hidden;
    background: center center no-repeat #d6dcdc;
    background-size: contain;
    border-radius: 0.25em;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: inset 0 -0.5em 0 -0.25em rgba(0, 0, 0, .75);
}

.coin a:before {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: 5em;
    background: center center no-repeat;
    background-size: contain;
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.coin a.slotting:before {
    -webkit-animation: slot 0.3s ease;
    animation: slot 0.3s ease;
}

.coin [data-coin="50"] {
    background: transparent;
}

.coin [data-coin="50"]:before {

    background-image: url(./images/50cents.jpg);
    background-size: 65% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.coin [data-coin="20"] {
    background: transparent;
}

.coin [data-coin="20"]:before {
    background-image: url(./images/20cents.png);
    background-size: 65% 80%;
    background-repeat: no-repeat;
    background-position: center;

}

.coin [data-coin="10"] {
    background: transparent;
}

.coin [data-coin="10"]:before {
    background-image: url(./images/10cents.png);
    background-size: 50% 65%;
    background-repeat: no-repeat;
    background-position: center;

}

@-webkit-keyframes slot {
    to {
        top: 100%;
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }
}

@keyframes slot {
    to {
        top: 100%;
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }
}

form {
    text-align: center;
}

form input,
form button {
    display: inline-block;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;
    background: none;
    border-radius: 0.125em;
    outline: none;
    vertical-align: middle;
    margin: 0.0625em 0;
}

form button {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 2em;
    padding: 0 0.75em;
    border-radius: 0.2em;
    background: #464e4e;
    color: #ffffff;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

form button:hover {
    background: #353b3b;
}

form input {
    background: #242424;
    color: #ccc;
    text-shadow: 0 0 0.125em rgba(204, 204, 204, 0.75);
    padding: 0 0.25em;
    font-size: 2em;
    line-height: 1.25em;
    height: 1.25em;
    text-transform: uppercase;
    -moz-appearance: textfield;
}

form input::-webkit-input-placeholder {
    color: rgba(218, 218, 218, 0.3);
}

form input::-moz-placeholder {
    color: rgba(253, 253, 253, 0.3);
}

form input:-ms-input-placeholder {
    color: rgba(65, 217, 217, 0.3);
}

form input::-ms-input-placeholder {
    color: rgba(65, 217, 217, 0.3);
}

form input::placeholder {
    color: rgba(65, 217, 217, 0.3);
}

form input[name="selection"] {
    width: 1.75em;
    text-align: center;
}

form input[name="coinage"] {
    width: 2.75em;
    text-align: right;
}

form input.invalid {
    -webkit-animation: err 0.2s steps(2) infinite alternate;
    animation: err 0.2s steps(2) infinite alternate;
    text-shadow: 0 0 0.125em hsla(345, 100%, 60%, 0.75);
}

form input[type=number]::-webkit-inner-spin-button,
form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@-webkit-keyframes err {
    from {
        color: hsl(345, 100%, 90%);
    }

    to {
        color: hsl(345, 100%, 60%);
    }
}

@keyframes err {
    from {
        color: hsl(345, 100%, 90%);
    }

    to {
        color: hsl(345, 100%, 60%);
    }
}

.tray,
.coin_return {
    float: left;
    width: 50%;
    color: #ffffff;
    height: 6em;
    line-height: 6em;
    position: relative;
    border: 0.145em solid #4c4c4c;
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tray:before,
.coin_return:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f2f6;
    /* background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%); */
    background-image: url(./images/bg-item.jpg);
    border-radius: 4px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-transition: height 0.4s, background 0.4s;
    transition: height 0.4s, background 0.4s;
}

.vending .tray:before,
.vending .coin_return:before,
.tray:hover:before,
.coin_return:hover:before {
    height: 20%;
    background: #535454;
}

.tray {
    width: 64%;
}

.tray .item {
    position: relative;
    top: -100%;
    -webkit-transition: top 0.15s 0.3s;
    transition: top 0.15s 0.3s;
}

.vending .tray .item {
    top: 0;
}

.coin_return {
    width: 32%;
    margin-left: 4%;
}

.coin_return .coin {
    width: 100%;
    position: absolute;
    top: -100%;
    -webkit-transition: top 0.15s 0.3s;
    transition: top 0.15s 0.3s;
}

.coin_return .coin a {
    background: none;
    border: none;
    box-shadow: none;
    pointer-events: none;
}

.vending .coin_return .coin {
    top: 0.75em;
}


.created-by {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    width: 200px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.created-by p {
    color: white;
}

.created-by a {
    color: crimson;
    text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

.created-by a:hover {
    text-decoration: underline;
}